
  @import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400;700&family=Noto+Sans+TC:wght@400;700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playpen+Sans:wght@400;700&display=swap');



html,
body {
  font-family: 'Noto Sans TC','Open Sans', sans-serif;
  overflow-x: hidden;
}


a {
  cursor: pointer;
  display: block;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

.ff {
    &--chinese {
        font-family: 'Noto Sans TC', sans-serif; 
    }
    &--english {
        font-family: 'Open Sans', sans-serif; 
    } 
    &--particular {
      font-family: 'Edu TAS Beginner', cursive;
    }
    &--special {
      font-family: 'Playpen Sans', cursive;
    }
}